{% extends "layout.html" %}

{% block title %}
    Phone info
{% endblock %}

{% block includes %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/display2.css') }}">

{% endblock %}

{% block main %}
<h1 class='h1'> Specificaties van de {{ phone[0]['DeviceName'] }}</h1>

<p class ='p'>Naam: {{ phone[0]['DeviceName'] }}<br>
Merk: {{ phone[0]['Brand'] }}<br>
Grootte: {{ phone[0]['size'] }}<br>
Afmetingen: {{ phone[0]['dimensions'] }}<br>
Gewicht: {{ phone[0]['weight'] }}<br>
Sim: {{ phone[0]['sim'] }}<br>
Resolutie: {{ phone[0]['resolution'] }}<br>
Wlan: {{ phone[0]['wlan'] }}<br>
Gps: {{ phone[0]['gps'] }}<br>
Radio: {{ phone[0]['radio'] }}<br>
Messaging: {{ phone[0]['messaging'] }}<br>
Browser: {{ phone[0]['browser'] }}<br>
Java: {{ phone[0]['java'] }}<br>
Speciale features: {{ phone[0]['features_c'] }} {{ phone[0]['features'] }}<br>
Verkrijgbare kleuren: {{ phone[0]['colors'] }}<br>
Interne geheugen: {{ phone[0]['internal'] }}<br>
Video: {{ phone[0]['video'] }}<br>
Snelheid: {{ phone[0]['speed'] }}</p>
{% endblock %}
