{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block includes %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

{% endblock %}

{% block main %}

<h1 >Welkom op Tellic</h1>

<h3 class="h3"> Posts </h3>
<div class="column">
{% for post in posts %}

  <div class="posts">
    <div class="card border-primary mb-3">
      <div class="card-header">posted by: <a href="{{ url_for('profiel', username=post.user['username']) }}">{{ post.user['username'] }}</a>, {{ post['created_on'] }}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{post['title']}}</h5>
          <p class="card-text">{{post['text']}}</p>
          <a href= "{{ url_for('post', post_id=post['id']) }}" class="card-link">Ga naar de post</a>
        </div>
    </div>
  </div>

{% endfor %}
</div>

<h3> Populairste telefoons</h3>
<div class="column">


    <table class="table">
      <tr class="table-active">
        <th>Telefoon</th>
        <th>Score</th>
        <Th>Link</Th>
      </tr>

      {% for phone in popular %}

      <tr class="table-secondary">
        <td>{{ phone[0] }}</td>
        <td>{{ phone[1] }}</td>
        <td> <a href="{{ url_for('display', phone=phone[0]) }}" class="card-link">Bekijk specificaties</a></td>
      </tr>
      {% endfor %}
    </table>
    <p>Score is gelijk aan het aantal keer dat de telefoon is toegevoegd aan favorieten</p>

</div>
{% endblock %}
