{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block includes %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/post.css') }}">

{% endblock %}

{% block main %}

<div class="container">

  <div class="post">
    <div class="upper bg-dark">
      <div class="left">
        <h4>{{post['title']}}</h4>
        <p>Gepost door <span class="focus">{{ post.user['username'] }}</span></p>
      </div>
      <div class="right">
        <p>{{ post['created_on'] }}</p>
      </div>
    </div>
    <p>{{post['text']}}</p>
  </div>

  <form class="reply-form" action="{{ url_for('reply') }}" method="post">
      <input type="hidden" name="post_id" value="{{ post["id"] }}"/>
      <input id="phoneInput" type="hidden" name="phone"/>
      <textarea class="form-control" id="mytextarea" name="reply" rows="6" placeholder="Schrijf hier uw antwoord!"></textarea>
      <div class="form-combine">
        <button class="btn reply-button" type="submit">Plaats een opmerking</button>
        <input class="form-control mr-sm-2" type="text" onkeyup="myFunction(this.value, 'createReply')" placeholder="Search">
        <div class="selected">Geselecteerd: <span class="focus selected-phone">Geen</span></div>
      </div>

      <div class="results">
      </div>
  </form>

  <script type="text/javascript">
  var editor = textboxio.replace('#mytextarea');
</script>

  {% for reply in replies %}

  <div class="reply-wrapper">

    <div class="reply">
      <p>{{ reply['text']|safe }}</p>
      <div class="lower bg-dark">
        <div class="left">
          <p>Gepost door <span class="focus">{{ reply.user['username'] }}</span></p>
        </div>
        <div class="right">
          <p>{{ reply['created_on'] }}</p>
        </div>
      </div>
    </div>

    <div class="recomendation">

      <h6>Aanbeveling</h6>
      {% if reply['phone'] != "" %}
        <span><a href="{{ url_for('display', phone=reply['phone']) }}"{{ reply['phone'] }}>{{reply['phone']}}</a></span>
      {% else %}
        <span>Geen</span>
      {% endif %}


    </div>

  </div>

  {% endfor %}

</div>

{% endblock %}
