{% extends "layout.html" %}

{% block title %}
    Profiel - {{ current_user.username }}
{% endblock %}

{% block includes %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profiel.css') }}">

{% endblock %}

{% block main %}

<div class="jumbotron">

<h2>Profiel van {{ current_user.username }}</h2>

<div class="row">

  <div class="col-sm-8">

    <h4>Laatste activiteiten</h4>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#replies">Replies</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show" id="posts">
        {% for post in posts %}

          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ post["title"] }}</h5>
              <small class="text-muted">{{ post["created_on"] }}</small>
            </div>
            <p class="mb-1">{{ post["text"] }}</p>
          </a>

        {% endfor %}
      </div>
      <div class="tab-pane fade" id="replies">
        {% for reply in replies %}

          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ reply.user['username'] }}</h5>
              <small class="text-muted">{{ reply['created_on'] }}</small>
            </div>
            <p class="mb-1">{{ reply['text'] }}</p>
          </a>

        {% endfor %}
      </div>
    </div>

    </div>

  <div class="col-sm-4">

  <h4>Favorieten</h4>
  {% for favorite in favorites %}
    <div class="tab-pane fade active show" id="favorites">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ favorite['phone'] }}</h5>
          </div>
        </a>
    </div>
    {% endfor %}




  </div>

</div>

{% endblock %}
