{% extends "layout.html" %}

{% block title %}
    Profiel - {{ current_user.username }}
{% endblock %}

{% block includes %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profiel.css') }}">

{% endblock %}

{% block main %}

<!-- <h2>Profiel van {{ current_user.username }}</h2> -->

<div class="row">

  <div class="col-sm-8">

    <ul class="nav nav-header bg-dark">
      <li class="nav-item">
        <a class="active show" data-toggle="tab" href="#posts">Posts</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" href="#replies">Replies</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show" id="posts">
        {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <div class="profile-overview">
              <h6>{{ post["title"] }}</h6>
              {{ post["text"]|safe }}
              <br>
              <br>
              <span class="date">{{ post["created_on"] }}</span>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="replies">
        {% for reply in replies %}
          <div class="profile-overview">
            <a href="{{ url_for('post', post_id=reply.post['id']) }}">
                <h6>Gepost door <span class="focus">{{ reply.user['username'] }}</span></h6>
                {{ reply['text']|safe }}
                <br>
                <br>

                {% if reply["phone"] == "" %}
                  <span class="phone">Geen aanbeveling</span>
                {% else %}
                  <span class="phone">{{ reply["phone"] }}</span>
                {% endif %}

                <br>
                <br>
                <span class="date">{{ reply["created_on"] }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="bottom"></div>
    </div>

    </div>

  <div class="col-sm-4">

  {% set paginationController = ['1'] %}

  <div class="pagination-wrapper 1">
    <ul class="favorites">
      <li class="bg-dark">Favorieten</li>

    {% for favorite in favorites %}
      <li><a href="{{ url_for('display', phone=favorite['phone']) }}">{{ favorite['phone'] }}</a></li>

    {% if loop.index % 5 == 0 %}

      </div>
      </ul>

      {% set paginationController = (paginationController.append(loop.index),paginationController) %}

      <div class="{{ loop.index }} pagination-wrapper none">
        <ul class="favorites">
          <li class="bg-dark">Favorieten</li>

    {% elif loop.last %}

      </div>
      </ul>

    {% endif %}

  {% endfor %}


  {% include 'pagination.html' %}




  </div>

</div>

{% endblock %}
