{% extends "layout.html" %}

{% block title %}
    Registreer
{% endblock %}

{% block includes %}

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/portal.css') }}">

{% endblock %}

{% block main %}

  <div class="container">

    <form class="form-signin" action="{{ url_for('register') }}" method="post">
      <h2 class="form-signin-heading">Het begin van uw avontuur!</h2>
      <label for="inputEmail" class="sr-only">Gebruikersnaam</label>
      <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Gebruikersnaam" required autofocus>
      <label for="inputPassword" class="sr-only">Wachtwoord</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Wachtwoord" required>
      <label for="inputPasswordCheck" class="sr-only">Wachtwoord</label>
      <input type="password" id="inputPasswordCheck" class="form-control" name="passwordCheck" placeholder="Herhaal wachtwoord" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registreer</button>
    </form>

  </div>

{% endblock %}
