main {
  padding: 40px 60px;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.row h5 {
  margin-bottom: 20px;
  color: white;
}

.focus {
    margin-left: 10px;
}

.upper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.phone-wrap {
  background: white;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

h6:first-child {
  margin-top: 0px !important;
}

h6 {
  margin-top: 30px !important;
}

.filter {
  background: white;
  padding: 30px;
}

button {
  margin-top: 30px !important;
}

.results {
  height: 879px;
  overflow-y: scroll;
}
