main {
  padding: 40px 60px;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.row h6 {
  margin-bottom: 40px;
}

.col-sm-8 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.post {
  background: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.post p {
  margin-bottom: 0px;
}

.post-content {
  padding: 20px;
}

.upper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.left {
  display: flex;
  align-items: flex-end;
}

.upper p {
  display: block;
  margin: 0 0 0 20px;
}

.focus {
  color: #4BBF73;
}

.upper h5 {
  margin-bottom: 0px;
  color: white;
}

.table-active {
  background: #343a40 !important;
  color: white;
}

table {
  border-collapse: collapse;
  padding: 5px;
  border-radius: 1em;
  overflow: hidden;
}

.note {
  font-size: 12px;
}

.explenation {
  margin-bottom: 50px;
}
