body {
  background: #e9ecef !important;
  padding-bottom: 50px;
}

main {
  max-width: 1800px !important;
  margin: 0 auto !important;
}

.none {
  display: none;
}

.pagination {
  margin: 30px auto 0 auto !important;
  display: block;
}

.focus-bg {
  background: #4BBF73 !important;
  color: white !important;
}

.reset {
  padding: 0px;
  margin: 0px;
}

.flashes {
  padding: 12px 0 12px 20px !important;
  margin: 0px !important;
  font-size: 14px;
  list-style-type: none;
}

.search-form {
  position: relative;
}

.navbar {
  position: relative !important;
  padding-bottom: 0px !important;
}

.search-drop {
  width: 100%;
  background: #343a40;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 10px 0.75rem 10px;
}

.search-drop a:-webkit-any-link {
    text-decoration: none;
}

.search-drop span {
  display: block;
  padding: 3px 10px;
  margin: 7px;
  background: white;
  border-radius: 5px;
  font-size: 14px;
}

.search-drop .error {
  background: #d9534f;
  color: white;
}

.search-drop span:hover {
  background: #4BBF73;
  /* color: #343a40; */
  color: white;
}

.ab-button {
  background: #4BBF73;
  color: white;
  border-radius: 5px !important;
}
